<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<div class="content" layout:fragment="content">
    <div class="col-6" style="margin-left: 250px;">
        <h2>도서 상세 페이지</h2>
        <table class="table">
            <tr>
                <td>번호</td>
                <td th:text="${book.no}"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td th:text="${book.title}"></td>
            </tr>
            <tr>
                <td>저자</td>
                <td th:text="${book.author}"></td>
            </tr>
            <tr>
                <td>출판사</td>
                <td th:text="${book.publisher}"></td>
            </tr>
            <tr>
                <td>가격</td>
                <td th:text="${book.price}"></td>
            </tr>
            <tr>
                <td>입고일</td>
                <td th:text="${book.buy}"></td>
            </tr>
            <tr>
                <td>배송비</td>
                <td th:text="${book.kind}"></td>
            </tr>
            <tr>
                <td>구입가능서점</td>
                <td th:text="${book.bookstore}"></td>
            </tr>
            <tr>
                <td>보유수량</td>
                <td th:text="${book.count}"></td>
            </tr>
        </table>
        <button class="btn btn-primary"onclick="location.href='/'">돌아가기</button>
    </div>
</div>
</html>